:root {
  --aspect-ratio: 9 / 16;
  --caption-highlight: #cf402f;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

div#container {
  margin: 0 20px;
  max-width: 800px;
}

div#options {
  border-bottom: 1px solid #ccc;
  margin: 0 0 25px 0;
  padding: 0 0 20px 0;
}

div#options > div {
  margin: 0 0 20px 0;
}

div#options > div#google-translate {
  margin: 0 0 30px 0;
  height: 36px;
}

h1 {
  border-top: 1px solid #eee;
  font-family: 'Google Sans', sans-serif;
  font-size: 1.5em;
  margin: 1em 0 0 0;
  padding: 1em 0 0 0;
}

h2 {
  color: #666;
  font-family: 'Google Sans', sans-serif;
  font-size: 1.2em;
}

iframe {
  background-color: #ccc;
  border: none;
  border-bottom: 20px solid white;
  display: block;
  height: calc(100vw * var(--aspect-ratio));
  margin: 0 auto 20px auto;
  max-height: calc(800px * var(--aspect-ratio));
  max-width: 800px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: calc(100vw);
  z-index: 1;
}

img#fin {
  display: block;
  margin: 40px auto;
  width: 150px;
}

#options input[type='checkbox'] {
  font-size: 20px;
  margin: 0 7px 0 0;
  position: relative;
  top: -1px;
}

#options label {
  color: #000;
  font-size: 18px;
  font-weight: 300;
}

p {
  margin: 0;
  text-indent: 1.5em;
}

p:first-child {
  text-indent: 0;
}

div.transcript > p:first-child {
  text-indent: 0;
}

section {
  margin: 0 0 20px 0;
}

span.speaker {
  color: #333;
  font-weight: 600;
}

span[data-start] {
  color: #444;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5em;
}

span[data-start]:hover {
  border-bottom: 1px dashed black;
  color: var(--caption-highlight);
  cursor: pointer;
}

span[data-start].current {
  border-bottom: 1px dashed black;
  color: var(--caption-highlight);
}

@media (min-width: 500px) {
  body {
    margin: 20px;
  }

  div#container {
    margin: 0 auto;
  }

  iframe {
    border: 1px solid #ccc;
    height: calc((100vw - 40px) * var(--aspect-ratio));

    /*
    max-height: calc(800px * 9 / 16);
    max-width: 800px;
    */
    outline: 20px solid white;
    top: 20px;
    width: calc(100vw - 40px);
  }

  #options input {
    top: -2px;
  }

  #options label {
    font-size: 16px;
  }

  span[data-start] {
    font-size: 16px;
    line-height: 1.7em;
  }
}

/* Google Translate internals */

.goog-te-gadget-simple {
  border-bottom: 1px solid #ccc !important;
  border-left: 1px solid #ccc !important;
  border-right: 1px solid #ccc !important;
  border-top: 1px solid #ccc !important;
  padding-bottom: 7px !important;
  padding-left: 7px !important;
  padding-right: 0 !important;
  padding-top: 7px !important;
}

.goog-te-menu-value {
  color: #000;
  margin-left: 4px;
  margin-right: 4px;
  font-size: 16px;
  font-family: Roboto, sans-serif;
  font-weight: 200;
  padding: 5px;
}
